#img1{
margin-top:50px;
margin-left: 800px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img2{
margin-top:50px;
margin-left: 950px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img3{
margin-top:50px;
margin-left: 1100px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img4{
margin-top:160px;
margin-left: 950px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img5{
margin-top:160px;
margin-left:1100px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img6{
margin-top:50px;
margin-left: 100px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img7{
margin-top:600px;
margin-left:300px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img8{
margin-top:600px;
margin-left:400px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img9{
margin-top:600px;
margin-left:500px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img10{
margin-top:600px;
margin-left:600px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img11{
margin-top:600px;
margin-left:700px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img12{
margin-top:600px;
margin-left:800px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img13{
margin-top:600px;
margin-left:900px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img14{
margin-top:160px;
margin-left: 100px;
position:absolute;
font: 14px calibri;
color:#fff;
}
#img15{
margin-top:270px;
margin-left: 100px;
position:absolute;
font: 14px calibri;
color:#fff;
}